<div>
    <form [formGroup] = "editForm" ngNativeValidate>
        <div class="form-group">
            <label>To-Do Title</label>
            <input type="text" formControlName="title" class="form-control" required>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" formControlName="completed" class="custom-control-input" id="completed">
            <label for="completed" class="custom-control-label">Completed</label>
        </div>
        <input type="hidden" formControlName="id">
        <br>
        <button (click)="editTodo(editForm)" class="btn btn-primary">Edit</button>
    </form>
</div>