.right {
  background: url("../../assets/images/todo3.jpg") left top no-repeat;
  height: 400px;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
}

@media (min-width: 577px) {
  .right {
    position: absolute;
    top: 100px;
    right: 0;
    width: 25%;
    z-index: 1;
  }

}
