/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body{
  font-family:'Open Sans', sans-serif;
  background-color:#fefefe;
}

label{
  font-size:1.2em;
  margin-right: 5px;
}

::placeholder {
  font-style: italic;
}

.btn {
  font-weight:bold;
}

@media only screen and (max-width:576px) {
  /* For mobile phones: */
  .menu,
  .main,
  .right {
    width: 100%!important;
  }
}
